apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-pv
  labels:
    type: local
    app: mongodb
spec:
  # Storage capacity - how much storage this PV provides
  capacity:
    storage: 2Gi  # 2 GiB (more than PVC requests, allows headroom)
  
  accessModes:
    - ReadWriteOnce
  
  persistentVolumeReclaimPolicy: Retain
  
  storageClassName: standard

  hostPath:
    path: "/mnt/data/mongodb"  # Directory on Minikube node
    type: DirectoryOrCreate     # Create directory if it doesn't exist
  
  
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - minikube  # Minikube node name