apiVersion: v1
kind: Service
metadata:
  name: flask-service
  namespace: flask-mongodb-ns
  labels:
    app: flask-app
spec:
  type: NodePort
  selector:
    app: flask-app
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000
    nodePort: 30080
  sessionAffinity: ClientIP