apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: flask-mongodb-ns
  labels:
    app: flask-app
spec:
  replicas: 2
  
  selector:
    matchLabels:
      app: flask-app
  
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: flask-mongodb-app:v1
        imagePullPolicy: Never
        
        ports:
        - containerPort: 5000
          name: http
        
        env:
        - name: MONGO_HOST
          value: "mongodb-service"
        
        - name: MONGO_PORT
          value: "27017"
        
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: mongo-root-username
        
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: mongo-root-password
        
        - name: MONGO_AUTH_DB
          value: "admin"
        
        resources:
          requests:
            cpu: "200m"
            memory: "250Mi"
          limits:
            cpu: "500m"
            memory: "500Mi"
        
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
        
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3